<p>Update here the details of the selected item</p>

<div *ngIf="item">
  <div>id: {{item.id}}</div>
  <div>
    <label for="name">Name </label>
    <input id="name" type="text" [(ngModel)]="item.name">
  </div>
  <div>
    <label for="description">Description </label>
    <input id="description" type="text" [(ngModel)]="item.description">
  </div>
  <div>
    <label for="price">Price </label>
    <input id="price" type="text" [(ngModel)]="item.price">
  </div>
  <div>
    <label for="stock">Stock </label>
    <input id="stock" type="text" [(ngModel)]="item.stock">
  </div>
</div>

<button (click)="updateItem()">Update item</button>




